<a href="https://colab.research.google.com/github/SankithaDevatha/Python/blob/main/DataFrames.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Creating DataFrames

import pandas as pd

dataframe = pd.DataFrame({
    "1":[1,2,3,4],
    "2":['a','colomn','with','string'],
    "3":[1.23,2.365,6.23,1.33],
    "4":[True,False,False,True]
})

print(dataframe)

   1       2      3      4
0  1       a  1.230   True
1  2  colomn  2.365  False
2  3    with  6.230  False
3  4  string  1.330   True

In [ ]:
#Using Dictionary


import pandas as pd

data = {
    "1":[1,2,3,4],
    "2":['a','colomn','with','string'],
    "3":[1.23,2.365,6.23,1.33],
    "4":[True,False,False,True]
}

df = pd.DataFrame(data)

print(df)

   1       2      3      4
0  1       a  1.230   True
1  2  colomn  2.365  False
2  3    with  6.230  False
3  4  string  1.330   True

In [ ]:
#getting info of dataframe

import pandas as pd

data = {
    "1":[1,2,3,4],
    "2":['a','colomn','with','string'],
    "3":[1.23,2.365,6.23,1.33],
    "4":[True,False,False,True]
}

df = pd.DataFrame(data)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   1       4 non-null      int64
 1   2       4 non-null      object
 2   3       4 non-null      float64
 3   4       4 non-null      bool
dtypes: bool(1), float64(1), int64(1), object(1)
memory usage: 228.0+ bytes