<a href="https://colab.research.google.com/github/SankithaDevatha/Python/blob/main/OperationsOnDataFrames.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#Filtering data

import pandas as pd

data = {
    'Name': ['Abdc','aksjd','ajds','ajhsdg'],
    'Age': [22,23,78,54],
    'Gender':['F','M','M','F']
}

dataframe = pd.DataFrame(data)
print(dataframe)
#Filtering rows for age > 23
print('\n')
filtered_df = dataframe[dataframe['Age']>23]
print(filtered_df)

     Name  Age Gender
0    Abdc   22      F
1   aksjd   23      M
2    ajds   78      M
3  ajhsdg   54      F


     Name  Age Gender
2    ajds   78      M
3  ajhsdg   54      F

In [3]:
#adding colomns

import pandas as pd

data = {
    'Name': ['Abdc','aksjd','ajds','ajhsdg'],
    'Age': [22,23,78,54],
    'Gender':['F','M','M','F']
}
dataframe = pd.DataFrame(data)
print(dataframe)
print('\n')

dataframe['City'] = ['Bangalore','Mysore','Vizag','Delhi']
print(dataframe)

     Name  Age Gender
0    Abdc   22      F
1   aksjd   23      M
2    ajds   78      M
3  ajhsdg   54      F


     Name  Age Gender       City
0    Abdc   22      F  Bangalore
1   aksjd   23      M     Mysore
2    ajds   78      M      Vizag
3  ajhsdg   54      F      Delhi

In [5]:
#Aggregation and Grouping
import pandas as pd

data = {
    'Name': ['Abdc','aksjd','ajds','ajhsdg'],
    'Age': [22,23,78,54],
    'Gender':['F','M','M','F']
}
dataframe = pd.DataFrame(data)
print(dataframe)

grouped_df = dataframe.groupby('Gender').agg({'Age':'sum'})
print(grouped_df)

     Name  Age Gender
0    Abdc   22      F
1   aksjd   23      M
2    ajds   78      M
3  ajhsdg   54      F
        Age
Gender
F        76
M       101

In [7]:
#sorting

import pandas as pd

data = {
    'Name': ['Abdc','aksjd','ajds','ajhsdg'],
    'Age': [22,23,78,54],
    'Gender':['F','M','M','F']
}
dataframe = pd.DataFrame(data)
print(dataframe)

sorted_df = dataframe.sort_values(by = 'Gender')
print(sorted_df)

     Name  Age Gender
0    Abdc   22      F
1   aksjd   23      M
2    ajds   78      M
3  ajhsdg   54      F
     Name  Age Gender
0    Abdc   22      F
3  ajhsdg   54      F
1   aksjd   23      M
2    ajds   78      M

In [8]:
#data transformation
import pandas as pd

data = {
    'Name': ['Abdc','aksjd','ajds','ajhsdg'],
    'Age': [22,23,78,54],
    'Gender':['F','M','M','F']
}
dataframe = pd.DataFrame(data)
print(dataframe)

dataframe['Age'] = dataframe['Age'].apply(lambda y:y-2)
print(dataframe)

     Name  Age Gender
0    Abdc   22      F
1   aksjd   23      M
2    ajds   78      M
3  ajhsdg   54      F
     Name  Age Gender
0    Abdc   20      F
1   aksjd   21      M
2    ajds   76      M
3  ajhsdg   52      F

In [10]:
#reshaping the data

import pandas as pd

data = {
    'Name': ['Abdc','aksjd','ajds','ajhsdg'],
    'Age': [22,23,78,54],
    'Gender':['F','M','M','F']
}
dataframe = pd.DataFrame(data)
print(dataframe)

pivot_data = dataframe.pivot(index = 'Age',columns = 'Gender', values = 'Name')
print(pivot_data)

     Name  Age Gender
0    Abdc   22      F
1   aksjd   23      M
2    ajds   78      M
3  ajhsdg   54      F
Gender       F      M
Age
22        Abdc    NaN
23         NaN  aksjd
54      ajhsdg    NaN
78         NaN   ajds

In [14]:
#merging

data1 = {
    'Name': ['Abdc','aksjd','ajds','ajhsdg'],
    'Age': [22,23,78,54],
    'City':['F','M','M','F']
}
dataframe1 = pd.DataFrame(data1)
print(dataframe1)

data2 = {
    'Name': ['ajhsdg','nabsdx','aksjd','nsdfkj'],
    'Age': [13,12,44,59],
    'Gender':['M','F','F','F']
}
dataframe2 = pd.DataFrame(data2)
print(dataframe2)

#Atleast one column in the dataframes must be common
merged_df = pd.merge(dataframe1,dataframe2,on = 'Name')
print(merged_df)

     Name  Age City
0    Abdc   22    F
1   aksjd   23    M
2    ajds   78    M
3  ajhsdg   54    F
     Name  Age Gender
0  ajhsdg   13      M
1  nabsdx   12      F
2   aksjd   44      F
3  nsdfkj   59      F
     Name  Age_x City  Age_y Gender
0   aksjd     23    M     44      F
1  ajhsdg     54    F     13      M

In [17]:
#concatination

data1 = {
    'Name': ['Abdc','aksjd','ajds','ajhsdg'],
    'Age': [22,23,78,54],
    'Gender':['F','M','M','F']
}
dataframe1 = pd.DataFrame(data1)
print(dataframe1)

data2 = {
    'Title': ['ajhsdg','nabsdx','aksjd','nsdfkj'],
    'DOB': [13,12,44,59],
    'City':['M','F','F','F']
}
dataframe2 = pd.DataFrame(data2)
print(dataframe2)

print(pd.concat([dataframe1,dataframe2]))

     Name  Age Gender
0    Abdc   22      F
1   aksjd   23      M
2    ajds   78      M
3  ajhsdg   54      F
    Title  DOB City
0  ajhsdg   13    M
1  nabsdx   12    F
2   aksjd   44    F
3  nsdfkj   59    F
     Name   Age Gender   Title   DOB City
0    Abdc  22.0      F     NaN   NaN  NaN
1   aksjd  23.0      M     NaN   NaN  NaN
2    ajds  78.0      M     NaN   NaN  NaN
3  ajhsdg  54.0      F     NaN   NaN  NaN
0     NaN   NaN    NaN  ajhsdg  13.0    M
1     NaN   NaN    NaN  nabsdx  12.0    F
2     NaN   NaN    NaN   aksjd  44.0    F
3     NaN   NaN    NaN  nsdfkj  59.0    F

In [22]:
#concatination of series

s1 = pd.Series(['jaw','21','asa'],name= 's1')
s2 = pd.Series(['asd','asad','sdcfsced'],name='s2')
print(pd.concat([s1,s1]))

0    jaw
1     21
2    asa
0    jaw
1     21
2    asa
Name: s1, dtype: object

In [23]:
#2 series cannot be merged

s1 = pd.Series(['jaw','21','asa'],index = 'somthing')
s2 = pd.Series(['asd','asad','sdcfsced'],index = 'something')
print(pd.merge(s1,s2,on = 'something'))

TypeError: ignored

In [41]:
#handling missing data
import pandas as pd
import numpy as np

data = {
    'Name': ['Abdc',np.NaN,np.NaN,'ajhsdg'],
    'Age': [22,np.NaN,78,54],
    'Gender':[np.NaN,np.NaN,'F',np.NaN]
}
dataframe = pd.DataFrame(data)
print(dataframe)
print('\n')
print(dataframe.isnull())#checks each cell if it is null

print('\n')
print(dataframe.isnull().sum())#gives sum of cells that are null

print('\n')
dataframe = dataframe.dropna(how='all')#drops the rows which is completely null
print(dataframe)

print('\n')
dataframe = dataframe.dropna()#drops the rows that contains null
print(dataframe)

     Name   Age Gender
0    Abdc  22.0    NaN
1     NaN   NaN    NaN
2     NaN  78.0      F
3  ajhsdg  54.0    NaN


    Name    Age  Gender
0  False  False    True
1   True   True    True
2   True  False   False
3  False  False    True


Name      2
Age       1
Gender    3
dtype: int64


     Name   Age Gender
0    Abdc  22.0    NaN
2     NaN  78.0      F
3  ajhsdg  54.0    NaN


Empty DataFrame
Columns: [Name, Age, Gender]
Index: []

In [44]:
#Filling the null values

import pandas as pd
import numpy as np

data = {
    'Name': ['Abdc',np.NaN,np.NaN,'ajhsdg'],
    'Age': [22,np.NaN,78,54],
    'Gender':[np.NaN,np.NaN,'F',np.NaN]
}
dataframe = pd.DataFrame(data)
print(dataframe)

print('\n')
dataframe = dataframe.fillna({'Name':'Someone','Age':24,'Gender':'NA'}) #fill all null values as defined inside
print(dataframe)

print('\n')
dataframe = dataframe.fillna('NA') #fill all null values with NA
print(dataframe)

     Name   Age Gender
0    Abdc  22.0    NaN
1     NaN   NaN    NaN
2     NaN  78.0      F
3  ajhsdg  54.0    NaN


     Name   Age Gender
0    Abdc  22.0     NA
1      NA    NA     NA
2      NA  78.0      F
3  ajhsdg  54.0     NA