<a href="https://colab.research.google.com/github/SankithaDevatha/Python/blob/main/Series.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
#creating series

import pandas as pd

series = pd.Series([1,2,3,4])
print(series)

0    1
1    2
2    3
3    4
dtype: int64

In [10]:
#printing index and values

import pandas as pd

series = pd.Series([1,2,3,4])
print(series)
print(series.values)
print(series.index.values)

0    1
1    2
2    3
3    4
dtype: int64
[1 2 3 4]
[0 1 2 3]

In [14]:
#assigning index names

import pandas as pd

srs = pd.Series([11,123.324,'a'], index = ['India','China','USA'])

srs.name='Something' #name of series
srs.index.name = 'Country'#colomn name of index
print(srs)

Country
India         11
China    123.324
USA            a
Name: Something, dtype: object

In [18]:
#dropping entries in series
import pandas as pd

srs = pd.Series([11,123.324,'a'], index = ['India','China','USA'])

srs.name='Something' #name of series
srs.index.name = 'Country'#colomn name of index
print(srs)
srs = srs.drop('USA')
print(srs)

Country
India         11
China    123.324
USA            a
Name: Something, dtype: object
Country
India         11
China    123.324
Name: Something, dtype: object

In [17]:
#accessing values using index names


import pandas as pd

srs = pd.Series([11,123.324,'a'], index = ['India','China','USA'])

srs.name='Something' #name of series
srs.index.name = 'Country'#colomn name of index
print(srs['India'])
print(srs['USA'])

11
a